<!DOCTYPE html> 
<html>
  <head>
    <title>Stream Chat Overlay</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
        .emoteImg { width: 1.5%}
        .profImg { width: 50px; vertical-align: text-top;}
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { width: 16%; padding: 5px 10px; background-color: aqua }
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <ul id="messages"></ul>
    <script>
            var socket = io.connect('34.73.6.238:80');
            var messageId = 0;
            var timeout = 14000
            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });
            // append the chat text message
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg).delay(timeout).fadeOut(100));
            });
            socket.on('twitch', function(msg) {
                $('#messages').append($('<li>').html(msg).delay(timeout).fadeOut(100));
            })
            socket.on('cheer', function(msg){
              console.log(msg);
                $('#messages').append($('<li>').html(msg).delay(timeout).fadeOut(100));
            })
            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });
            // ask username
            var username = prompt('Please tell me your name');
            socket.emit('username', username);
    </script>
  </body>
</html>