<!DOCTYPE html> 
<html>
  <head>
    <title>Stream Chat Overlay</title>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel = "stylesheet" rel="stylesheet" type = "text/css" href = "css/base.css" />
  </head>
  <body>
    <ul id="messages"></ul>
    <script>
            var socket = io.connect('34.73.6.238:80');
            var messageId = 0;
            var timeout = 14000
            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });
            // append the chat text message
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg).delay(timeout).fadeOut(100));
            });
            socket.on('twitch', function(msg) {
                $('#messages').append($('<li>').html(msg).delay(timeout).fadeOut(100));
                $('#messages').append($('</br>').delay(timeout).fadeOut(100)); 
            })
            socket.on('cheer', function(msg){
              console.log(msg);
                $('#messages').append($('<li>').html(msg).delay(timeout).fadeOut(100));
            })
            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });
            // ask username
            var username = prompt('Please tell me your name');
            socket.emit('username', username);
    </script>
  </body>
</html>